h2 {
    font-family: sans-serif;
    color: rgb(119, 119, 119);
}

.container {
    max-width: 1900px;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.column {
    flex-basis: 16.666%;
    box-sizing: border-box;
    padding-left: 45px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

img {
    height: 150px;
    background-color: rgb(57, 136, 238);
}

@media screen and (max-width: 1024px) {
    .column {
    flex-basis: 33.33%;
    }
    }
    @media screen and (max-width: 768px) {
    .column {
    flex-basis: 50%;
    }
    }
    @media screen and (max-width: 414px) {
    .column {
    flex-basis: 100%;
    }
}

p {
    padding-left: 45px;
    padding-right: 35px;
}

.naslov {
    border: 1px solid rgb(180, 180, 180);
    text-align: center;
    
}
    
